*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#parent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: hidden; */
}
#box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    flex-shrink: 0;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: orange;
    flex-shrink: 0;
}
#box3{
    width: 200px;
    height: 200px;
    background-color: green;
    flex-shrink: 0;
}
#box4{
    width: 200px;
    height: 200px;
    background-color:hotpink;
    flex-shrink: 0;
}
#box5{
    width: 200px;
    height: 200px;
    background-color:maroon;
    flex-shrink: 0;
}
